/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0; 
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}


#submitButton {
    background-color: teal;
    width: 90px;
    height: 40px;
    color: white;
    font-size: 16px;
    border: solid 1px teal;
    box-shadow: 5px 5px 5px #cbcbcb;
    outline: 0;
    letter-spacing: 1px;
    border-radius: 10px;    
    margin-top: 5px;
    margin-left: 5px;

}

#form {
    background-color: pink;
}

#txtEmail {
    text-align: center;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 10px;
    width: 300px;
    height: 60px;
    font-size: 16px;
   /* box-shadow: 10px 10px 10px #cbcbcb;*/
    border: none;
    outline: none;

}

#txtPassword{
   text-align: center;
   margin-left: 40px;
    margin-left: 40px;
    margin-bottom: 10px;
    width: 300px;
    height: 60px;
    font-size: 16px;
    border: none;
    outline: none; 
}

#btnLogin {
    background-color: #c50;
    width: 300px;
    height: 40px;
    color: white;
    font-size: 16px;
    border: solid .5px white;
    box-shadow: 2px 2px 2px darkgray;
    outline: none;
    letter-spacing: 1px;
    margin-left: 40px;
    border-radius: 0.2em;

}

#btnRegister {
    background-color: white;
    width: 300px;
    height: 40px;
    color: #c50;
    font-size: 16px;
    border: solid .5px white;
    box-shadow: 2px 2px 2px darkgray;
    outline: none;
    letter-spacing: 1px;
    margin-left: 40px;
    border-radius: 0.2em; 
}

#btnGoogleLogin {
   background-color: gray;
    width: 300px;
    height: 40px;
    color: white;
    font-size: 16px;
    border: solid .5px white;
    box-shadow: 2px 2px 2px darkgray;
    outline: none;
    letter-spacing: 1px;
    margin-left: 40px;
    border-radius: 0.2em; 

}


